.posts a {
  text-decoration: none;
}

table {
  width: 100%;
}

.posts {
  margin-top: 20px;
}

.posts a {
  text-decoration: none;
  color: black;
}

.update {
  margin-left: 5px;
}

.delete {
  margin: 5px;
}

.box {
  padding: 10px 5px;
}
