<h2 class="title">Posts</h2>
<div>
    <a mat-raised-button class="add-btn" color="primary" routerLink="/add">Add new post</a>
</div>

<div class="mat-elevation-z8 posts">
    <mat-table [dataSource]="this.postService.posts">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell class="box" *matCellDef="let post"> <a mat-button routerLink="/detail/{{post.id}}">{{post.id}}
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell class="box" *matCellDef="let post"> {{post.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="body">
            <mat-header-cell *matHeaderCellDef> Body </mat-header-cell>
            <mat-cell class="box" *matCellDef="let post"> {{post.body}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userId">
            <mat-header-cell *matHeaderCellDef> UserID </mat-header-cell>
            <mat-cell class="box" *matCellDef="let post"> {{post.userId}} </mat-cell>
        </ng-container>

        <ng-container class="actions" matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element">

                <a mat-raised-button color="primary" class="detail" routerLink="/detail/{{element.id}}">Details</a>
                <a mat-raised-button color="primary" class="update" routerLink="/posts/{{element.id}}">Update</a>
                <button mat-raised-button color="primary" type="button" class="delete" title="delete post"
                    (click)="delete(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>