<h2>Posts</h2>

<a mat-raised-button routerLink="/add">Add new post</a>

<ul class="posts">
    <li *ngFor="let post of posts">
        <a routerLink="/detail/{{post.id}}">
            <span class="badge">{{post.id}}</span> {{post.title}}
        </a>
        <a mat-raised-button routerLink="/detail/{{post.id}}">Details</a>
        <a mat-raised-button routerLink="/posts/{{post.id}}">Update</a>
        <button mat-raised-button type="button" class="delete" title="delete post" (click)="delete(post)">
            <mat-icon>delete</mat-icon>
        </button>
    </li>
</ul>