<h2>Posts</h2>

<a routerLink="/add"><button type="button" class="add" title="add posts">Add new post</button></a>

<ul class="posts">
    <li *ngFor="let post of posts">
        <a routerLink="/detail/{{post.id}}">
            <span class="badge">{{post.id}}</span> {{post.title}}
        </a>
        <a routerLink="/detail/{{post.id}}"><button type="button" class="details"
                title="details post">Details</button></a>
        <a routerLink="/posts/{{post.id}}"><button type="button" class="update" title="update post">Update</button></a>
        <button type="button" class="delete" title="delete post" (click)="delete(post)">Delete</button>
    </li>
</ul>