<h2>Add post</h2>

<div class="form">
    <mat-form-field appearance="outline" color="primary">
        <mat-label for="post-id">Post ID:</mat-label>
        <input matInput id="post-id" #postId placeholder="id">
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
        <mat-label for="post-title">Title:</mat-label>
        <input matInput id="post-title" #postTitle placeholder="title">
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
        <mat-label for="post-body">Body:</mat-label>
        <input matInput id="post-body" #postBody placeholder="body">
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
        <mat-label for="post-userId">User ID:</mat-label>
        <input matInput id="post-userId" #postUserId placeholder="id">
    </mat-form-field>
    <div class="actions">
        <button mat-raised-button color="primary" type="button" class="add-button"
            (click)="add(postTitle.value, postBody.value, postUserId.value); postTitle.value=''; postBody.value=''; postUserId.value='';">
            Add post
        </button>
    </div>
</div>